.mainContainer {
    justify-content: space-between;

    @media screen and (max-width: 1600px) {
        padding: 0px 70px;
    }

    @media screen and (max-width: 1300px) {
        justify-content: center;
    }

    @media screen and (max-width: 640px) {
        padding: 0px 0px;
    }
}